td.details-control {
    background: url('/plus.png') no-repeat center center;
    width: 2px;
    height: 2px;
    background-size: 10px 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/minus.png') no-repeat center center;
    background-size: 10px 10px;
    width: 2px;
    height: 2px;
}

.error-form{
	margin-bottom: 15px;
}